@model CSGOBeast.Web.ViewModels.Home.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}
<h1>Вицове</h1>
<h1>Категории</h1>
<div class="row">
</div>
<script>

    function profilepic() {
        $.ajax({
            url: 'http://localhost:2509/Steam/GetProfile',
            dataType: 'json',
            success: function (data) {
                $.each(data.response.players, function (key, value) {
                    if ($('.profile')) {
                        $('.profile').append("<img src='" + value.avatar + "'> <span>" + value.personaname + "</span>")
                    }
                    if ($('.profile1')) {
                        $('.profile1').append("<img src='" + value.avatarfull + "'>")
                    }
                    if ($('.username')) {
                        $('.username').append(value.personaname)
                    }

                    console.log(value)
                });
            }, error: function (httpReq, status, exception) {
                console.log(status + " " + exception);
            }
        });
    }
    profilepic();
</script>