@model CSGOBeast.Web.ViewModels.Home.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}
<h1>Вицове</h1>
<h1>Категории</h1>
<div class="row">
</div>
<script>

    (function () {
        $.ajax({
            type: 'GET',
            url: '/Steam/GetProfile',
            dataType: 'json',
            success: function (data) {
                $.each(data.response.players, function (key, value) {
                    if ($('.profile')) {
                        $('.profile-name').html("");
                        $('.profile-name').append("<img src='" + value.avatar + "'/>");
                        $('.profile-name').append(" " + value.personaname);
                    }
                    console.log(value)
                });
            }, error: function (httpReq, status, exception) {
                console.log(status + " " + exception);
            }
        });
    }());


    //function profilepic2() {
    //    $.ajax({
    //        type: 'GET',
    //        url: '/Steam/GetInventory',
    //        dataType: 'json',
    //        success: function (data) {
    //            console.log(data);
    //        }, error: function (httpReq, status, exception) {
    //            console.log(status + " " + exception);
    //        }
    //    });
    //}
</script>