@model CSGOBeast.Web.Areas.Games.Models.CoinFlips.CurrentCoinFlipViewModel
<div class="col-lg-2 col-md-6 text-center">
    <div class="well result-box nomargin">
        <p><a class="h4" href="/CoinFlip/Details/@Model.Id">@Model.Creator.UserName</a></p>
        <div class="quality">
            <p class="nomargin"><span class="text-danger h4">Amount:  $@Model.CreatorSum</span></p>
        </div>
        @Html.Partial("_PlayCoinFlip", Model.CompleteCoinFlipViewModel)
    </div>
</div>
